:root {
    --paynes-gray: #3a606eff;
    --slate-gray: #607b7dff;
    --battleship-gray: #828e82ff;
    --sage: #aaae8eff;
    --platinum: #e0e0e0ff;
    --font:  -apple-system, BlinkMacSystemFont, sans-serif;
}


/* Path: style.css */

body {
    background-color: var(--paynes-gray);
    color: var(--platinum);
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    transition: all 0.5s ease;
}

.searchBarContainer:hover {
    transform: scale(1.05);
}

.searchBar {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid var(--slate-gray);
    border-radius: 5px;
    background-color: var(--slate-gray);
    color: var(--platinum);
    font-family: var(--font);
    font-size: 1.2rem;
    line-height: 1.5;
    transition: all 0.5s ease;
}

.searchBar:hover {
    box-shadow: 0px 0px 10px 10px rgb(41, 67, 77);
}


.searchBar:focus {
    outline: none;
}

.searchBar::placeholder {
    color: var(--platinum);
    opacity: 60%;
}

.searchBar:focus::placeholder {
    color: var(--platinum);
    opacity: 90%;
}

i.fa-search {
    position: relative;
    right: 30px;
}

.who {
    /* posizionalo nell'angolo in alto a destra */
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    margin: 1rem;
    font-size: 25px;
    color: #fff;
    border-radius: 20%;
    transition: all 0.3s ease;
}

.who:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 3px rgb(41, 67, 77);
}




.card-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 15%;
    margin-left: auto; 
    margin-right: auto;
}


 .card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px rgb(41, 67, 77);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font);
    transition: all 0.5s ease;
} 

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 10px rgb(41, 67, 77);
}


.title {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
}


.icon-temp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}


.icon {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon i {
    font-size: 75px;
    color: #333;
}

.description {
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.footer {
    position: relative;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.footer p {
    font-family: var(--font);
    opacity: 0.8;
    font-size: 14px;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: rgb(3, 163, 255);
    opacity: 100%;
    transition: all 0.5s ease;
}

/* CSS per il colore di sfondo della card in base alla temperatura */
.cold {
    background-color: #7ec0ee;
}

.warm {
    background-color: #ffa07a;
}

.hot {
    background-color: #ff6347;
}

@media screen and (max-width: 768px) {
.card-container {
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 2rem;
}
}

