:root {
    --celadon: #1d2d44ff; 
    --prussian-blue: #3e5c76ff; 
    --picos-gray: #3e5c76ff;  
    --silver-lake-blue: #48cabff; 
    --rich-black: #0d1321ff; 
    --font:  -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Path: style.css */

body {
    background-color: var(--celadon);
    color: var(--rich-black);
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    transition: all 0.5s ease;
}

.searchBarContainer:hover {
    transform: scale(1.05);
}

.searchBar {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid var(--prussian-blue);
    border-radius: 5px;
    background-color: var(--prussian-blue);
    color: var(--rich-black);
    font-family: var(--font);
    font-size: 1.2rem;
    line-height: 1.5;
    transition: all 0.5s ease;
}

.searchBar:hover {
    box-shadow: 0px 0px 15px 13px rgba(0,0,0,0.1);
}


.searchBar:focus {
    outline: none;
}

.searchBar::placeholder {
    color: var(--rich-black);
    opacity: 60%;
}

.searchBar:focus::placeholder {
    color: var(--rich-black);
    opacity: 90%;
}

i.fa-search {
    position: relative;
    right: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.card {
    width: 80%;
    height: 700px;
    padding: 2rem;
    border: 1px solid var(--prussian-blue);
    border-radius: 5px;
    background-color: var(--prussian-blue);
    color: var(--rich-black);
    font-family: var(--font);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease;
    box-shadow: 26px 26px 15px -3px rgba(0,0,0,0.1);
}

.hidden {
    display: none !important;
    transition: opacity 0.5s ease-in-out;
}

.appearsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.appearsText h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.containerAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-body-left {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 1rem;
    border-right: 1px solid var(--prussian-blue);
    flex-direction: column;
}

.card-body-right {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
}

.city {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 0.5;
}

.cityI {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.city i {
    font-size: 3rem;
}

.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.icon-weather {
    line-height: 0.1;
}

.icon-weather img {
    width: 250px;
    transition: all 0.5s ease;
}

.icon-weather img:hover {
    transform: scale(1.2);
}

.sun {
    position: relative;
    bottom: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sun h2 {
    font-size: 1rem;
    font-weight: 700;
}

.temp {
    line-height: 0.5;
}

.temp h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.maxMinTemperature {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.tempMin, .tempMax, .sunrise, .sunset {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.maxMinTemperature h2 {
    font-size: 1rem;
    font-weight: 700;
}

.more-info {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--rich-black);
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--rich-black);
}

.info h2 {
    font-weight: 700;
    font-size: 1rem;
}

.info h2:last-child {
    border-bottom: none;
}

.infoI {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.infoI i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.coord {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
}

.map {
    border: 3px solid var(--rich-black);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 13px rgba(0,0,0,0.1);
}

/* CSS per il colore di sfondo della card in base alla temperatura */
.cold {
    background-color: #7ec0ee;
}

.warm {
    background-color: rgb(255, 118, 64);
}

.hot {
    background-color: #ff6347;
}

@media screen and (max-width: 1050px) {
    .card-container {
        padding: 1rem;
    }
    .card {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 1rem;
    }

    .card-body-left, .card-body-right {
        width: 100%;
    }

    .weather {
        flex-direction: column;
        height: 100%;
        margin-bottom: 30px;
    }
}

