:root {
    --celadon: #1d2d44ff; 
    --prussian-blue: #3e5c76ff; 
    --picos-gray: #3e5c76ff;  
    --rich-black: #0d1321ff; 
    --font:  -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--celadon);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--celadon);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--prussian-blue);

}

/* Scrollbar */

/* Path: style.css */

body {
    background-color: var(--celadon);
    color: var(--rich-black);
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.searchBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    transition: all 0.5s ease;
}

.searchBar {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid var(--prussian-blue);
    border-radius: 5px;
    background-color: var(--prussian-blue);
    color: var(--rich-black);
    font-family: var(--font);
    font-size: 1.2rem;
    line-height: 1.5;
}

.searchBar:focus {
    outline: none;
}

.searchBar::placeholder {
    color: var(--rich-black);
    opacity: 60%;
}

.searchBar:focus::placeholder {
    color: var(--rich-black);
    opacity: 90%;
}

.suggestionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    width: 100%;
    transition: all 0.5s ease;
}

.suggestion {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid var(--prussian-blue);
    border-radius: 5px;
    background-color: var(--prussian-blue);
    color: var(--rich-black);
    font-family: var(--font);
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 60%;
    transition: all 0.5s ease;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.card {
    width: 80%;
    min-height: 925px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid var(--prussian-blue);
    border-radius: 5px;
    background-color: var(--prussian-blue);
    color: var(--rich-black);
    font-family: var(--font);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease;
    box-shadow: 26px 26px 15px -3px rgba(0,0,0,0.1);
}

.bgFix {
    background-color: var(--prussian-blue) !important;
}

.hidden {
    display: none !important;
    transition: all 0.5s ease-in-out !important;
}

.appearsText {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 925px;
}

.titleText {
    display: flex;
    flex-direction: column;
    line-height: 0.1;
    width: 100%;
}

.titleText h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.realTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.realTitle i {
    font-size: 3rem;
}

.realTitle a {
    color: var(--rich-black);
    transition: all 0.5s ease;
    cursor: pointer;
}

.centralText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centralText h2, .centralText i {
    font-size: 2.5rem;
    font-weight: 700;
}

.containerAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.card-body-left, .card-body-right {
    display: flex;
    width: 50%;
    height: 100%;
    gap: 1rem;
    flex-direction: column;
}

.city {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 0.5;
}

.cityI {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.city i {
    font-size: 3rem;
}

.weather-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    gap: 1rem;
}

.icon-weather {
    line-height: 0.1;
}

.icon-weather img {
    width: 250px;
}

.sun {
    position: relative;
    bottom: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sun h2 {
    font-size: 1rem;
    font-weight: 700;
}

.cardtemp, .cardIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: 3px solid var(--rich-black);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 15px 13px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
}

.cardtemp:hover, .cardIcon:hover {
    transform: scale(1.1);
    background-color: var(--rich-black);
    color: var(--prussian-blue);
}

.divisorIcon i {
    font-size: 3rem;
}

.temp {
    line-height: 0.5;
}

.temp h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.maxMinTemperature {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.tempMin, .tempMax, .sunrise, .sunset {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.maxMinTemperature h2 {
    font-size: 1rem;
    font-weight: 700;
}

.more-info {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--rich-black);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 13px rgba(0,0,0,0.1);
}

.titleInfo {
    background-color: var(--rich-black) !important;
    color: var(--prussian-blue) !important;
}

.titleInfo h2 {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    border-bottom: 1px solid var(--prussian-blue);
}

.titleInfo i {
    font-size: 2rem !important;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--rich-black);
    transition: all 0.5s ease;
}

.info:hover {
    background-color: var(--rich-black);
    color: var(--prussian-blue);
}

.info h2 {
    font-weight: 700;
    font-size: 1rem;
}

.info h2:last-child {
    border-bottom: none;
}

.infoI {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.infoI i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.coordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5;
}

.coordIcon i {
    font-size: 2.5rem;
}

.coord {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
}

.map {
    border: 3px solid var(--rich-black);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 13px rgba(0,0,0,0.1);
}

/* CSS per il colore di sfondo della card in base alla temperatura */
.cold {
    background-color: #7ec0ee;
}

.warm {
    background-color: rgb(255, 118, 64);
}

.hot {
    background-color: #ff6347;
}

@media screen and (max-width: 1050px) {
    .card-container {
        padding: 1rem;
    }

    .card {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 1rem;
    }

    .card-body-left, .card-body-right {
        width: 100%;
        height: 100%;
        border-right: none;
    }

    .appearsText {
        gap: 5rem;
    }

    #cityName {
        line-height: 1.5;
    }

    .containerAll {
        flex-direction: column;
    }

    .card-body-left, .card-body-right {
        width: 100%;
    }

    .weather {
        flex-direction: column;
        height: 100%;
        margin-bottom: 30px;
        gap: 1rem;
    }

    .divisorIcon i {
        transform: rotate(90deg);
    }
}

